.NavBar{
    width: 100%;
    height: 100px;
    background-color: black;
    box-shadow: 2px 2px 5px black;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    margin-bottom: 50px;
}
.Link{
    font-size: 20px;
}
.Logo {
    display: flex;
    justify-content: flex-start; /* Align logo to the left */
    align-items: center;
    flex: 1; /* Takes the leftmost part of the NavBar */
  
   
  }
.NavBar a{
    text-decoration: none;
    color: white;
    margin : 10px;
    padding: 8px 15px 10px 15px;
    font-size: 20px;
}
.is-active{
    color: yellow;
    border-radius: 1020px;
}
.NavBar a:hover{
    cursor: pointer;
    border-radius: 1020px;
    background:yellow;
    color:  black;
}
.HomeNav{
    float: left;
}